div{
  height: 250px;
  width: 100%;
  background: blue;
  margin: 20px;
}
.main{
  background: red;
  width: 100%;
  height: 100px;
  position: sticky;
   position: -webkit-sticky;
  top: 0;
}

body{
  overflow-x: hidden;
}

h1{
  cursor: pointer;
}