

/* MINI NAVBAR */

.outerNavUl, .innerNavUl{
    list-style-type: none;
    background: #111;
    padding: 0;
    z-index: 0;
}

.outerNavLi, .innerNavLi{
    color: #ccc;
}

.outerNavLi{
    background: red;
    width: 120px;
}


.outerNavLi:hover, .innerNavLi:hover{
    color: #FFF;
}

#projectsLi:hover .innerNavUl{
    display: block;
}

/* positioning */

.outerNavUl{
    margin-top: -130px;
}

.innerNavUl{
    position: absolute;
    margin-left: 120px;
    top: 35px;
    background: red;
    padding: 0px;
    display: none;
    
}

/*     TRIGGER      */


button{
    color: #aaa;
    border: 2px solid #333;
    z-index: 1;
}

/* stavi ako je sirina ispod 500px da se innerNavLi pojavljuje ispod sa position: relative */ 