body{
    margin: 40px;
  }
  
  button{
    cursor: pointer;
    outline: 0;
    color: #AAA;
  
  }
  
  button {
    outline: none;
  }
  
  .green{
    color: green;
  }
  
  .red{
    color: red;
  }